html,
body,
.grid-container-dashboard {
  height: 130vh;
  margin: 0;
}

.grid-container-dashboard * {
  /* border: 1px solid red; */
  position: relative;
}

/* Don't forget to remove */
/* content: attr(class); */
.grid-container-dashboard *:after {
  position: absolute;
  top: 0;
  left: 0;
}

.grid-container-dashboard {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 340px));
  grid-template-rows: 22% 28% 5% 44%;
  gap: 1px 1px;
  grid-template-areas: "A B C D" "E E E E" "F F G G" "H H I I";
}

.dashboardgraphpanel {
  grid-area: E;
  /* border: 1px solid red; */
}

.welcomepanel {
  grid-area: A;
  text-align: center;
}

.rankingpanel {
  grid-area: B;
  /* border: 1px solid red; */
}

.burnedcalpanel {
  grid-area: C;
}

.exercisepanel {
  grid-area: D;
}

.suggworkouttextpanel {
  grid-area: F;
  /* border: 1px solid red; */
}

.suggrecipetextpanel {
  grid-area: G;
  /* border: 1px solid red; */
}

.suggestedworkoutpanel {
  grid-area: H;
  /* border: 1px solid red; */
}

.suggestedrecipepanel {
  grid-area: I;
  /* border: 1px solid red; */
}
.dashboardgraph {
  margin-top: -3vw;
}
.welcome {
  display: table-cell;
  margin-top: 25%;
}
.greeting {
  display: block;
  font-size: 2.8vw;
}

.loggingmsg {
  display: block;
  font-size: 2vw;
  margin-right: 3%;
}

/* Card 1: Ranking */
.rankingcard {
  text-align: center;
  box-shadow: none !important;
  background-color: transparent !important;
  padding-right: 4% !important;
}

.rankingcardcontent {
  padding: 0px !important;
  background-color: #13ce66;
  border-radius: 2vw;
}

.rankingcardtext {
  display: block;
  font-size: 1.5vw;
  color: #ffffff;
  padding-top: 3%;
  padding-bottom: 3%;
}

.ranking {
  display: block;
  font-size: 3.5vw;
  color: #ffffff;
}

/* Card 2: Burned calories */
.burnedcalcard {
  text-align: center;
  box-shadow: none !important;
  background-color: transparent !important;
  padding-right: 4% !important;
}

.burnedcalcardcontent {
  padding: 0px !important;
  background-color: #976dd0;
  border-radius: 2vw;
}

.burnedcalcardtext {
  display: block;
  font-size: 1.5vw;
  color: #ffffff;
  padding-top: 3%;
  padding-bottom: 3%;
}

.burnedcal {
  display: block;
  font-size: 3.5vw;
  color: #ffffff;
}

/* Card 3: Exercise */
.exercisecard {
  text-align: center;
  box-shadow: none !important;
  background-color: transparent !important;
  padding-right: 4% !important;
}

.exercisecardcontent {
  padding: 0px !important;
  background-color: #f95f62;
  border-radius: 2vw;
}
.exercisecardtext {
  display: block;
  font-size: 1.5vw;
  color: #ffffff;
  padding-top: 3%;
  padding-bottom: 3%;
}

.exercise {
  display: block;
  font-size: 3.5vw;
  color: #ffffff;
}
.suggworkouttext {
  display: block;
  font-size: 2vw;
  text-align: center;
}
.suggrecipetext {
  display: block;
  font-size: 2vw;
  text-align: center;
  /* padding-top: -2.5vw; */
  /* margin-top: 5%; */
  /* padding-top: 10%; */
}

.suggestedworkouts {
  margin-left: 1.75vw;
  height: 70vh;
  overflow-y: scroll;
}

.suggestedrecipes {
  margin-left: 1.75vw;
  height: 70vh;
  overflow-y: scroll;
}

/* Card type A: Workouts */
.workoutcard {
  text-align: center;
  box-shadow: none !important;
  background-color: transparent !important;
  padding-right: 4% !important;
  padding-top: 2vw;
}

.workoutcardcontent {
  padding: 0px !important;
  background-color: #15c8d1;
  border-radius: 2vw;
}
.workoutcardtext {
  display: block;
  font-size: 1.5vw;
  color: #ffffff;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

/* Card type B: Recipes */
.recipecard {
  text-align: center;
  box-shadow: none !important;
  background-color: transparent !important;
  padding-right: 4% !important;
  padding-top: 2vw;
}

.recipecardcontent {
  padding: 0px !important;
  background-color: #8f150a;
  border-radius: 2vw;
}
.recipecardtext {
  display: block;
  font-size: 1.5vw;
  color: #ffffff;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.workout-modal {
  position: absolute;
  top: 30vh;
  left: 37vw;
  width: 500px;
  height: 300px;
  text-align: center;
}

.workout-modal-header {
  margin-top: 46px;
  margin-bottom: 20px;
}

.workout-modal-button {
  margin-top: 20px;
}
