html,
body,
.grid-container-profile {
  height: 100vh;
  margin: 0;
}

.grid-container-profile * {
  position: relative;
}

.grid-container-profile *:after {
  position: absolute;
  top: 0;
  left: 0;
}

.grid-container-profile {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "A B";
}

.A {
  grid-area: A;
}

.B {
  grid-area: B;
}

.link,
.link:hover {
  text-decoration: none;
}

.row {
  margin-bottom: 1em;
  padding-left: 5em;
}

.age {
  width: 10em;
}

.gender {
  width: 11.4em;
}

.weight {
  width: 10em;
}

.height {
  margin-left: 2em;
  width: 10em;
}
